* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  font-family: var(--ff-Gilroy-Bold);
  color: var(--text-grey-color);
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Gilroy-Reg";
  font-weight: normal;
  src: url("../fonts/Gilroy-Regular.ttf") format("ttf");
  src: url("../fonts/Gilroy-Regular.eot") format("eot");
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf") format("ttf");
  src: url("../fonts/Gilroy-Medium.eot") format("eot");
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  src: url("../fonts/Gilroy-Bold.ttf") format("ttf");
  src: url("../fonts/Gilroy-Bold.eot") format("eot");
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
}

h1 {
  font-family: var(--ff-Gilroy-Bold);
  font-size: 47px;
  line-height: 59px;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     --main-bg-color: #ffffff;
//     --secondary-bg-color: #f6f6f6;
//     --text-black-color: #070707;
//     --background-btn-color: #070707;
//     --color-text-btn: #ffffff;
//     --border-btn-color: #070707;
//     --inset-card-shadow: inset 0 0 5px rgb(218, 218, 218);
//     --card-shadow: rgb(212, 212, 212) 0px 0px 15px;
//     --hover-color: #070707;
//     --svg-hover-color: #595959;
//     --svg-color: #070707;
//     --svg-socials: #070707;
//     --text-grey-color: #828282;
//     --active-link-color: #070707;
//     --sep-line-color: #828282;
//     --switch-bg-light: #ebebeb;
//     --switch-bg-dark: #555555;
//     --switch-dark-color: #dddddd;
//     --switch-light-color: #aaaaaa;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --main-bg-color: #121212;
//     --secondary-bg-color: #222831;
//     --text-black-color: #e0e0e0;
//     --text-grey-color: #ffffffde;
//     --sep-line-color: #ffffff99;
//     --active-link-color: #ffffff61;
//     --hover-color: #ffffff61;
//     --dark-hover-color: #222831;
//     --svg-hover-color: #2e3032;
//     --svg-color: #626262;
//     --svg-socials: #626262;
//     --background-btn-color: #e0e0e0;
//     --color-text-btn: #121212;
//     --border-btn-color: #ffffff99;
//     --inset-card-shadow: inset 0 0 5px rgb(78, 78, 78);
//     --card-shadow: #7e7e7e 0px 0px 15px;
//   }
// }

body {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f6f6f6;
  --text-black-color: #070707;
  --background-btn-color: #070707;
  --color-text-btn: #ffffff;
  --border-btn-color: #070707;
  --inset-card-shadow: inset 0 0 5px rgb(218, 218, 218);
  --card-shadow: rgb(212, 212, 212) 0px 0px 15px;
  --hover-color: #070707;
  --svg-hover-color: #595959;
  --svg-color: #070707;
  --svg-socials: #070707;
  --text-grey-color: #828282;
  --active-link-color: #070707;
  --sep-line-color: #828282;
  --switch-bg-light: #ebebeb;
  --switch-bg-dark: #555555;
  --switch-dark-color: #dddddd;
  --switch-light-color: #aaaaaa;
  --base-line-height: 22px;
  --ff-Gilroy-Reg: "Gilroy-Reg";
  --ff-Gilroy-Medium: "Gilroy-Medium";
  --ff-Gilroy-Bold: "Gilroy-Bold";
  color: var(--text-black-color);
  background: var(--main-bg-color);
  line-height: var(--base-line-height);
  font-size: 18px;
}

/* dark-theme */

body.dark-theme {
  --main-bg-color: #121212;
  --secondary-bg-color: #222831;
  --text-black-color: #e0e0e0;
  --text-grey-color: #ffffffde;
  --sep-line-color: #ffffff99;
  --active-link-color: #ffffff61;
  --hover-color: #ffffff61;
  --dark-hover-color: #222831;
  --svg-hover-color: #2e3032;
  --svg-color: #626262;
  --svg-socials: #626262;
  --background-btn-color: #e0e0e0;
  --color-text-btn: #121212;
  --border-btn-color: #ffffff99;
  --inset-card-shadow: inset 0 0 5px rgb(78, 78, 78);
  --card-shadow: #7e7e7e 0px 0px 15px;
  .intro__bg {
    box-shadow: 0 0 5px var(--dark-hover-color);
  }

  .card__rating img {
    opacity: 0.8;
  }
}

/* end dark-theme */

/* switch */

.switch-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  cursor: pointer;
  width: 45px;
  height: 22px;
  position: relative;
  display: inline-block;

  &__checkbox {
    // width:0;
    // height:0;
    // opacity:0;
    // transition: all 0.2s;
    display: none;

    /* moved switch btn */

    &:checked + .switch__body::before {
      left: 100%;
      transform: translateX(-100%);
      box-shadow: inset 0 0 5px rgb(61, 61, 61);
      background-color: var(--switch-dark-color);
    }
    /* end moved switch btn */

    /* moved switch body */

    &:checked + .switch__body {
      background-color: var(--switch-bg-dark);
      box-shadow: inset 0 0 10px rgb(42, 42, 42);
    }
  }
  /* moved switch body */

  /* switch body */

  &__body {
    background: var(--switch-bg-light);
    box-shadow: inset 0 0 5px rgb(211, 211, 211);
    width: 100%;
    height: 100%;
    border-radius: 22px;
    display: inline-block;

    /* end switch body */

    /* switch btn */

    &::before {
      content: "";
      transition: 0.2s ease-out;
      position: absolute;
      border-radius: 50%;
      background: var(--switch-light-color);
      box-shadow: inset 0 0 5px rgba(124, 124, 124);
      width: 28px;
      height: 28px;
      top: -3px;
      left: 0;
    }

    /* end switch btn */
  }
}

/* end switch */

h2 {
  font-family: var(--ff-Gilroy-Bold);
  text-align: center;
  font-size: 34px;
  line-height: 42px;
}

p {
  font-family: var(--ff-Gilroy-Medium);
}

a {
  transition: 0.3s;
}

a:hover {
  color: var(--hover-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 auto;
  line-height: var(--base-line-height);
  font-family: var(--ff-Gilroy-Bold);
}

nav {
  border-bottom: 1px solid var(--sep-line-color);
}

.link-active {
  color: var(--active-link-color);
}

.container {
  height: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  gap: 15px;
}

/* Main */

.main {
  flex: 1 1 auto;
}

/* intro */

.intro {
  margin-bottom: 105px;
}

.intro-main-wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.intro__about {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.intro-wrapper-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.intro__profession {
  max-width: 155px;
  line-height: var(--base-line-height);
}

.intro__change-language {
  transform: rotate(-90deg) translateY(25px);
  line-height: 19px;
}

.intro__bg {
  overflow: hidden;
}

.intro__bg picture img,
.intro__bg picture source {
  width: 100%;
  height: auto;
  transform: scale(100.8%);
}

.burger-menu {
  display: none;
}

/* mobile menu */

.mobile-menu {
  padding: 66px 0 58px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: var(--main-bg-color);
  border: 1px solid rgba(82, 82, 82, 0.2);
  column-gap: 50px;
  width: 375px;
  transition: all 0.4s;
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.menu-hidden {
  margin-right: -400px;
  opacity: 0;
  visibility: hidden;
}

.mobile-menu__body {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.border-none {
  border-bottom: none;
}

.mobile-menu__nav li,
.mobile-menu__change-language {
  font-size: 34px;
  line-height: 40px;
}

.mobile-menu__change-language {
  writing-mode: vertical-rl;
}

.mobile-menu__change-language span {
  display: inline-block;
  transform: translateX(3px);
}

.mobile-menu__nav li {
  margin-bottom: 67px;
}

.mobile-menu__nav li:last-child {
  margin: 0;
}

.mobile-menu-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__icon-close {
  margin-top: 10px;
}

.mobile-menu__icon-close {
  align-self: center;
}

.mobile-menu__icon-close rect {
  transition: 0.4s;
  fill: var(--svg-color);
}

.mobile-menu__icon-close svg:hover rect {
  fill: var(--svg-hover-color);
}

/* end mobile menu */

/* about me */
.about-me {
  background: var(--secondary-bg-color);
}

.about-me__wrapper {
  padding: 120px 0 107px;
}

.about-me__title {
  margin-bottom: 18px;
}

.about-me__description {
  max-width: 485px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: center;
  line-height: 21px;
}

/* skills */

.skills {
  font-family: var(--ff-Gilroy-Medium);
  padding: 90px 0 110px;
}

.skills__title {
  margin-bottom: 70px;
}

.skills__description {
  text-align: center;
  margin-bottom: 82px;
}

.programs-row {
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
}

.programs-column {
  flex: 0 1 auto;
}

.card {
  padding: 10px 15px;
  transition: 0.4s;
}

.card:hover {
  box-shadow: var(--inset-card-shadow);
  border-radius: 5px;
}

.card__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__column > img {
  margin-bottom: 24px;
}

.card__text {
  font-family: var(--ff-Gilroy-Bold);
  color: var(--text-black-color);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 40px;
}
.card__text--m-bot {
  margin-bottom: 57px;
}
.card__rating {
  width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  column-gap: 9px;
  justify-content: space-between;
}

.card__rating img {
  aspect-ratio: 22 / 20;
}

/* portfolio */

.portfolio {
  background: var(--secondary-bg-color);
  padding: 112px 0 96px;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio-body {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.portfolio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
}

.portfolio__link {
  font-family: var(--ff-Gilroy-Medium);
  font-size: 18px;
  line-height: var(--base-line-height);
}
.portfolio__link:hover {
  text-decoration: underline;
}

.portfolio__bg {
  overflow: hidden;
  border-radius: 5px;
  transition: 0.3s;
}

.portfolio__bg:hover {
  box-shadow: var(--card-shadow);
}

.portfolio__bg-link {
  transition: 0.6s;
  display: inline-block;
}

.portfolio__bg-link:hover {
  transform: scale(1.05);
}

.portfolio__bg img {
  width: 100%;
  height: auto;
  transform: scale(100.1%);
}

/* contacts */

.contacts {
  padding: 114px 0 0;
}

.contacts__container {
  max-width: 360px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  font-family: var(--ff-Gilroy-Medium);
  text-align: center;
  max-width: 275px;
  margin-bottom: 30px;
}

.contacts__btn {
  font-family: var(--ff-Gilroy-Bold);
  line-height: 42px;
  height: 42px;
  border-radius: 20px;
  background: var(--background-btn-color);
  color: var(--color-text-btn);
  font-size: 18px;
  padding: 0 30px;
  border: 1px solid var(--border-btn-color);
  margin-bottom: 85px;
  transition: 0.3s ease-out;
}

.contacts__btn:hover {
  background: var(--color-text-btn);
  color: var(--background-btn-color);
  transform: translateY(10px);
}

.contacts__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts__socials > a > svg {
  aspect-ratio: 41 / 41;
}

.contacts__socials a svg {
  fill: var(--svg-color);
  stroke: var(--svg-color);
  transition: 0.3s;
}

.contacts__socials a:hover svg {
  transform: scale(110%);
  fill: var(--svg-hover-color);
  stroke: var(--svg-hover-color);
}
.footer {
  color: var(--text-grey-color);
  flex: 0 1 auto;
  padding: 45px 0 123px 0;
}

.footer__row {
  display: flex;
  justify-content: center;
}

.footer__like {
  font-family: var(--ff-Gilroy-Medium);
  font-size: 14px;
  text-align: center;
}
.footer__like a {
  font-size: 14px;
  font-family: var(--ff-Gilroy-Medium);
}

/* Responsive */

@media (max-width: 950px) {
  .intro {
    margin-bottom: 80px;
  }

  .programs-row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 80px;
  }
  .programs-column {
    flex-basis: calc(40% - 60px);
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 30px;
  }
  .header {
    display: none;
  }
  .intro__about {
    flex-direction: row;
    justify-content: space-between;
  }

  .intro-main-wrapper {
    row-gap: 36px;
    padding-top: 65px;
  }

  .intro-wrapper-description {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
  }

  .intro__change-language {
    display: none;
  }

  .burger-menu {
    display: block;
    line-height: 59px;
  }

  .burger-menu__btn rect {
    transition: 0.4s;
    fill: var(--svg-color);
  }

  .burger-menu__btn:hover rect {
    fill: var(--svg-hover-color);
  }

  .about-me__wrapper {
    padding: 80px 0 75px;
  }

  .about-me__title {
    margin-bottom: 30px;
  }
  .skills {
    padding: 80px 0 100px;
  }
  .skills__title {
    margin-bottom: 50px;
  }
  .skills__description {
    margin-bottom: 70px;
  }
  .portfolio {
    padding: 80px 0;
  }

  .portfolio__title {
    margin-bottom: 47px;
  }

  .portfolio-row {
    row-gap: 30px;
  }

  .portfolio-body {
    row-gap: 78px;
  }

  .contacts {
    padding: 82px 0 0;
  }

  .contacts__title {
    margin-bottom: 27px;
  }

  .contacts__text {
    margin-bottom: 40px;
  }

  .contacts__btn {
    margin-bottom: 48px;
    width: 100%;
  }

  .contacts__btn:hover {
    transform: none;
  }

  .footer {
    padding: 50px 0 90px;
  }
}

@media (max-width: 400px) {
  .portfolio__link {
    font-size: 16px;
  }

  .mobile-menu {
    padding: 70px 0 30px;
    column-gap: 10px;
    width: 320px;
  }

  .mobile-menu__nav li {
    font-size: 28px;
    line-height: 36px;
  }

  .mobile-menu__icon-close {
    margin-right: 20px;
  }

  .mobile-menu__change-language {
    font-size: 28px;
  }
  .mobile-menu-container {
    padding: 0 15px;
  }
  .mobile-menu__nav li {
    margin-bottom: 55px;
  }
}
